* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.sliderContainer {
   width: 100vw;
   height: 100vh;
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
}

.container {
   width: 75%;
   display: flex;
   gap: 10px;
   align-items: center;
   overflow-x: auto;
}

.container::-webkit-scrollbar {
   display: none;
}

.imgHolder img {
   width: 400px;
   height: 400px;
}
